@font-face{font-family:OpenSans; src:url(../fonts/OpenSans-Regular.ttf) format('truetype');font-weight:400;font-style:normal}

body{
    background: -webkit-gradient(linear, left top, left bottom, from(#FDBCB4), to(#7FFC6A)) fixed;
}

.divider{
  width: auto;
  float: none;
  display: block;
  margin: 10px 0px 10px 0px;
  border-bottom: 1px solid #7FFC6A;
  opacity: 0.5;
} 

.content_container{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.12), 0 1px 2px 0 rgba(0,0,0,0.24);
    font-family: "OpenSans";
    min-height: 400px;
}

.cocktail_information h1{
    margin:0px;
}

.cocktail_thumbnail{
    width:100%;
    border-radius: 8px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.12), 0 1px 2px 0 rgba(0,0,0,0.24);
}

.cocktail_link{
    margin-right:40px;
    text-decoration: none;
    color: #000;
}

.cocktail_link:hover{
    color: #7FFC6A;
}

.search_label{
    top: -8px;
    bottom: 10px;
    left: 10px;
    font-size: 14px;
    -ms-filter: none;
    -webkit-filter: none;
    filter: none;
    opacity: 1;
    padding: 0 5px;
    max-height: 15px;
    font-weight: 600;   
    position:absolute;
    background-color: #fff;
}

.results_container{
    padding-top: 20px;
}

.cocktail_info{
    margin: 10px 0px;
}

button,
input,
select{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 3px 0 #000, 0 1px 2px 0 #7FFC6A;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

ul {
    list-style: none
}

li::before {
    content: "•"; 
    color: #FDBCB4;
    display: inline-block; 
    width: 1em;
    margin-left: -1em
}

@media only screen and (min-width:769px){
    .two_col{
        display:flex;
    }
    
    form{
        display:flex;
    }
    
    .col{
        width: 50%;
    }
    
    .content_container{
        margin: 50px;
    }
    
    .cocktail_search_container,
    .cocktail_information_container{
        padding:50px;
    }
    
    .form_elemet input{
        width:300px;
        height:46px;
    }
    

    .form_elemet button{
        width:300px;
        height:46px;
        cursor: pointer;
    }

    .form_elemet select{
        width:300px;
        height:46px;
    }

    .form_elemet{
        position: relative;
        float:left;
        padding-right: 20px;
    }
    
    .form_elemet button,
    .form_elemet input,
    .form_elemet select{
        padding-left:14px;
    }
    
    .cocktail_link_element:first-child{
        margin-top:50px;
    }

    .cocktail_link_element{
        display:inline-block;
        width:30%;
        padding-top:10px;
    }

    .col:nth-child(2){
        padding-left:50px;
    }
}

@media only screen and (max-width:768px){
    
    .content_container{
        margin: 20px;
    }
    
    .cocktail_search_container,
    .cocktail_information_container{
        padding:20px;
    }
    
    .form_elemet input{
        width:100%;
        height:40px;

    }

    .form_elemet button{
        width:100%;
        height:46px;
        cursor: pointer;
    }

    .form_elemet select{
        width:100%;
        height:46px;
    }
    
    .form_elemet{
        position: relative;
        padding-bottom: 20px;
    }
    
    .cocktail_link_element:first-child{
        margin-top:30px;
    }

    .cocktail_link_element{
        padding-top:10px;
    }
    
    .col:nth-child(2){
        padding-top: 20px;
    }
}