{% extends 'base.html.twig' %}
{% block title %}{{ 'cocktail.search' | trans() }}{% endblock %}
{% block body %}
<div class="cocktail_information_container">
    {% for cocktail in cocktails.cocktails %}
        <h1>{{ cocktail.name }}</h1>
        <div class="divider"></div>
        <div class="two_col">
            <div class="col">
                <div class="cocktail_info">{{ 'cocktail.category' | trans }}: {{ cocktail.category }} / {{ cocktail.alcoholic }}</div>
                <div class="cocktail_info">{{ 'cocktail.glass' | trans }}: {{ cocktail.glass }}</div>
                <div class="cocktail_info">{{ 'cocktail.ingredient' | trans }}:</div>
                <ul class="ingredient_list">
                    {% for ingredient in cocktail.ingredient %}
                        <li><b>{{ ingredient.name }}</b>: {{ ingredient.measure }}</li>
                    {% endfor %}
                </ul>
                <div>{{ cocktail.instructions }}</div>
            </div>
            <div class="col">
                <img class="cocktail_thumbnail" src="{{ cocktail.thumb }}">
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}