{% extends 'base.html.twig' %}
{% block title %}{{ 'cocktail.search' | trans() }}{% endblock %}
{% block body %}
<div class="cocktail_search_container">
    <h1>{{ 'cocktail.search' | trans() }}</h1>
{{ form_start(form, { 'method': 'POST'}) }}
    <div class="form_elemet">
        {{ form_widget(form.name) }}
        <span class="search_label">{{ 'cocktail.name'|trans() }}</span>
    </div>
    <div class="form_elemet">
        {{ form_widget(form.ingredient) }}
        <span class="search_label">{{ 'cocktail.ingredient'|trans() }}</span>
    </div>
    <div class="form_elemet">
        {{ form_widget(form.category) }}
        <span class="search_label">{{ 'cocktail.category'|trans() }}</span>
    </div>
    <div class="form_elemet">
        {{ form_widget(form.submit) }}
    </div>
{{ form_end(form) }}
    <div class="results_container">
        {% if cocktails | length and cocktails.cocktails | length %}
            <p><b>{{ 'results.for' | trans }} {{ cocktails.searchparam }}</b></p>
            {% for cocktail in cocktails.cocktails %}
                <div class="cocktail_link_element"><a class="cocktail_link" href="{{ path("cocktail",{'id': cocktail.externalId}) }}" target="_blank">{{ cocktail.name }}</a></div>
            {% endfor %}
        {% elseif cocktails | length %}
            <p>{{ 'no.results' | trans }}</p>
        {% endif %}
    </div>
</div>
{% endblock %}